header {
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i {
    color: $white-normal;
}

.header-icons {
    display: flex;
    gap: 14px;
}

.header-icons a:hover i {
    animation: translateY infinite alternate 0.8s;
    color: $red-light;
}

@keyframes translateY {
    from {
        transform: translate(0) scale(1);
    }
    to {
        transform: translate(-8px) scale(1.1);
    }
}

.header-button {
    border: 1px solid $white-normal;
    padding: 8px 24px;
    border-radius: 4px;
    color: $white-normal;
    background-color: transparent;
    transition: background-color 0.8s;
}

.header-button:hover {
    border: 5px solid #5E4D47;
    background-color: #5E4D47;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

.header-logo img {
    width: 190px; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

@media screen and (max-width: 768px) {
    .header-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    i {
        margin-top: 16px;
        font-size: 34px;
    }

    .header-logo img {
        width: 150px; /* Ajuste conforme necessário */
        margin-top: 46px;
    }

    .header-button {
        display: none;
    }
    

    

    }
