.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8px;

}

// BG HOME

.dg-home{
    position: relative;

}

.dg-home::before{
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("/assets//arranjo-de-ferramentas-para-barbearia.jpg");

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;

  opacity: 0.9;
  

}

////////--------------//////////

.hero{
    color: $white-normal;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

}

h1{
    text-align: center;
    line-height: 150%;
    max-width: 940%;
    font-size: 46px;
}

p{
    text-align: center;
    margin:14px 0;

}

.button-contact{
    padding: 14px 28px;
    color: $white-normal;
    background-color: $red-normal; 
    border: 0;
    font-size:18px;
    font-weight: 600;
    margin: 14px 0;
}

.button-contact:hover{
    animation: scaleButton 0.8s alternate infinite;

}

@keyframes scaleButton{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
    }
}

@media screen and ( max-width: 768){
   .hero{
    min-height: 60vh;

    h1{
        font-size: 34px;
        padding: 0 14px;
        width: 100%;
    }

   p{
    font-size:14px;
   }


   }
}

@media screen and (max-width: 480px) {
    .hero h1{
        font-size:24px;
    }
}
    
//////------------------------//
.about {
    background-color: $primary-normal;
    overflow: hidden;
    color: $white-normal;
    padding: 20px; /* Espaçamento interno */
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adicionado para garantir espaço entre imagem e texto */
    gap: 20px; /* Espaçamento entre a imagem e o texto */
    flex-wrap: wrap; /* Para responsividade */
    padding: 34px 14px 64px 14px; ;
}

.about-content div {
    flex: 1; /* Faz cada div ocupar o espaço necessário */
}

.about-content img {
    max-width: 100%; /* Garante que a imagem não ultrapasse seu contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

.about-description {
    flex: 2; /* Faz o texto ocupar 2 partes do espaço disponível */
    padding: 20px; /* Espaçamento interno */
    text-align: left; /* Alinha o texto à esquerda */
}

.about-description h2 {
    color: white; /* Cor do título */
    font-size: 38px; /* Tamanho do título */
    margin-bottom: 24px; /* Espaçamento inferior */
    text-align: center;
    
   
}

.about-description p {
    font-size: 16px; /* Tamanho do texto */
    line-height: 150%; /* Altura da linha */
    /* Espaçamento inferior */
}

.about-description strong{
   padding: 14px;
}

@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column; /* Torna a disposição vertical em telas menores */
    }

    .about-description {
        text-align: center;
         /* Centraliza o texto em telas menores */
    }
    p{
       margin-bottom: 14px;
       line-height: 150%;
    }
}