.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8px;

}

// BG HOME

.dg-home{
    position: relative;

}

.dg-home::before{
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("/assets//arranjo-de-ferramentas-para-barbearia.jpg");

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;

  
  

}

////////--------------//////////

.hero{
    color: $white-normal;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

}

h1{
    text-align: center;
    line-height: 150%;
    max-width: 940%;
    font-size: 46px;
}

p{
    text-align: center;
    margin:14px 0;

}

.button-contact{
    padding: 14px 28px;
    color: white;
    background-color: #24303C;
    border: 0;
    font-size:18px;
    font-weight: 600;
    margin: 14px 0;
}

.button-contact:hover{
    animation: scaleButton 0.8s alternate infinite;

}

@keyframes scaleButton{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
    }
}

@media screen and ( max-width: 768){
   .hero{
    min-height: 60vh;

    h1{
        font-size: 34px;
        padding: 0 14px;
        width: 100%;
    }

   p{
    font-size:14px;
   }


   }
}

@media screen and (max-width: 480px) {
    .hero h1{
        font-size:24px;
    }
}
    
//////------------------------//
.about {
    background-image: url('assets/man-barbershop-salon-doing-haircut-beard-trim.jpg');
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    text-align: center;
    color: #fff;
    position: relative; /* Adiciona posição relativa para poder ajustar o z-index */
}

.about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit; /* Usa a mesma imagem de fundo */
    filter: blur(10px); /* Aplica o desfoque à imagem de fundo */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo principal */
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Ajusta para coluna em telas menores */
    gap: 20px;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.about-description {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo escuro semi-transparente para destacar texto */
    border-radius: 8px; /* Borda arredondada */
}

.about-description h2 {
    font-size: 38px;
    margin-bottom: 20px;
    color: #fff; /* Cor do texto */
}

.about-description p {
    font-size: 16px;
    line-height: 1.6;
    color: #fff; /* Cor do texto */
}

@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }
}



.services{
  background-color: $white-normal;
  color: $black-normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.services-content  h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    margin-bottom: 14px;


}

.services-content p{
    line-height: 158%;
    margin-bottom: 14px;
    text-align: center;
    max-width: 780px;

}

.haircuts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white-normal;
    color: white;
    
 
  }
  
  
  .haircuts-info {
    background-color: var(#fff); /* Supondo que você esteja usando variáveis CSS */
    text-align: center;
  }
  
  
  .haircuts-container {
  display: flex;
  justify-content: space-around; /* ou use space-between conforme necessário */
  align-items: flex-start;
  background-color: var(--white-normal); /* Supondo que você esteja usando variáveis CSS */
  padding: 20px;
  background-color: $white-normal;
  color: $black-normal;
}

.haircut-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.haircut img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.haircuts-info {
  background-color: #fff; /* Substitua pela cor desejada */
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}